.Pushbutton {
  display:inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url(img/pushbutton-on.png);
  background-repeat: no-repeat;
}

.pushbutton_on {
  background: url(img/pushbutton-off.png);
  background-repeat: no-repeat;
}
